/* 폰트 불러오기 */

@font-face {
    font-family: "ELAND_Choice_M";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "InkLipquid";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



html {
    font-family: "ELAND_Choice_M";
}

/* 노말 */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.inline-grid {
    font-size: 0;
}

.inline-grid>* {
    font-size: 1rem;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.border-red {
    border: 10px solid red;
}

.border-blue {
    border: 10px solid blue;
}

.border-gold {
    border: 10px solid gold;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.block {
    display: block;
}

.con {
    margin-right: auto;
    margin-left: auto;
}

.img-box>img {
    width: 100%;
    display: block;
}

/* 커스텀 시작 */
.con {
    width: 1200px;
}


/* 탑바 시작 */

.top-bar {
    background-color: #93abd3;
    color: #fff;
}

/* 탑바 영역 설정 */
.top-bar>.con>div:first-child {
    width: 180px;
    /*   border: 1px solid red; */
}

.top-bar>.con>div:nth-child(2) {
    width: calc(100% - 180px - 400px);
}

.top-bar>.con>div:last-child {
    width: 400px;
    /*   border: 1px solid red; */
}

/* 로고 */
a.top-bar__logo {
    font-size: 1.5rem;
    padding: 8px 0;
    /*   font-weight: bold; */
    /* font-family: "InkLipquid";  */
    font-family: 'Amatic SC', cursive;
}

a.top-bar__logo span i {
    color: #ec5858;
    font-size: 1.3rem;
}

/* 메뉴 */

/* 메뉴 아이템 텍스트 */
.top-bar__menu-box-1 ul > li > a {
    display: block;
    padding: 16px 15px;
    white-space: nowrap;
    font-size: 0.8rem;
}

/* 아이콘 */
.top-bar__menu-box-1 span > i {
    color: #edf285;
}

/* 메뉴 아이템 */
.top-bar__menu-box-1 > ul li {
    position: relative;
}

/* 메뉴 아이템에 호버 올렸을 때 텍스트 */
.top-bar__menu-box-1 ul > li:hover > a {
    background-color: #fff;
    color: #93abd3;
    /*   font-weight: bold; */
}

/* 서브메뉴 */
.top-bar__menu-box-1 > ul ul {
    background-color: #93abd3;
    display: none;
    position: absolute;
    color: white;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    box-shadow: 1px 7px 10px rgba(0, 0, 0, 0.2);
}

/* 3차 메뉴 포지션 */
.top-bar__menu-box-1 > ul ul ul {
    top: 0;
    left: 100%;
}

/* 마지막 1차 메뉴의 3차 메뉴 포지션 */
.top-bar__menu-box-1 > ul > li:last-child ul ul {
    right: 100%;
    left: auto;
}

/* 서브메뉴의 아이템에 호버 올렸을 때 텍스트 */
.top-bar__menu-box-1 > ul ul li:hover > a {
    font-size: 0.9rem;
    /*   font-weight: bold; */
}

/* 1차 메뉴 아이템에 호버 올렸을 때 자식 메뉴 */
.top-bar__menu-box-1 ul > li:hover > ul {
    display: block;
}

/* 탑바 끝 */

/* section-0 */

.section-0 {
    margin-top: 20px;
}

/* work-list-box 시작 */

/* 워크리스트 ul 양 옆 바깥으로 10px씩 빼기  */
.work-list-box > ul {
    margin-left: -10px;
    margin-right: -10px;
}

/* 워크리스트 li 사이에 padding으로 간격 주기  */
.work-list-box > ul > li {
    width: calc(100% / 3);
    padding: 0 10px;
    margin-top: 20px;
    cursor: pointer;
}

/* 작품명 */
.work-list-box > ul > li > div > .work-name {
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
}

/* 작품 제작일과 기한 */
.work-list-box > ul > li > div > .work-date-period {
    margin-top: 5px;
    text-align: center;
    color: #787878;
}

/* 이미지 박스 설정 */
.work-list-box > ul > li > div > .img-box {
    position: relative;
    overflow: hidden;
}

/* 아이템 이미지 설정, 순서 설정 */
.work-list-box > ul > li > div > .img-box > img {
    transition: transform 1s;
    position: relative;
    z-index: -1;
}

/* 아이템 호버시 이미지 크기 커지게 */
.work-list-box > ul > li:hover > div > .img-box > img {
    transform: scale(1.4);
}

/* 이미지 어두워지는 효과 설정 */
.work-list-box > ul > li > div > .img-box > .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color 1s;
}

/* 아이템에 호버 시 이미지 어두워지게 */
.work-list-box > ul > li:hover > div > .img-box > .bg {
    background-color: rgba(0,0,0,0.7);
}

/* 뷰 버튼 설정 */
.work-list-box > ul > li > div > .img-box > .addi {
    color: white;
    border: 3px solid white;
    border-radius: 10px;;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
}

/* 아이템 호버 시 뷰 버튼 보이게 */
.work-list-box > ul > li:hover > div > .img-box > .addi {
    opacity: 1;
}

/* work-list-box 끝 */

/* 커스텀 끝 */
